* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  padding: 20px;
  gap: 15px;
  background-color: burlywood;
}
.grid-items {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: aliceblue;
  gap: 15px;
}
input {
  padding: 6px 10px;
}
