*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(162, 187, 209);
    margin: 10px;
}
h1{
    padding: 30px;
    background-color: aliceblue;
}
h2{
    padding: 20px;
}
h3{
    padding: 10px;

}
.italicp{
    color: rgb(23, 23, 150);
    margin: 10px;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    background-color: aliceblue;
}
.markp{
    color: rgb(21, 96, 101);
    padding: 10px;
}
.points{
    color: rgb(65, 28, 99);
    padding: 20px;
}
p{
    padding: 20px;
}
.attribute{
    color: rgb(40, 40, 96);
    padding-top: 40px;
}
a:hover {
  color: rgb(0, 149, 255);
  background-color: transparent;
  text-decoration: underline;
}
.quote{
    color: rgb(53, 45, 45);
}
.quotepara{
    color: rgb(230, 58, 58);
    padding-bottom: 30px;
}
.img1{
    width: 40%;
    height: 60%;
    float: right;
}
.img{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img2{
    width: 100%;
    height: 100%;
     padding-top: 30px;
    padding-bottom: 30px;
}
table, th, td{
    border: 1px solid black;
}