* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.left-main {
  padding: 30px 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-main {
  background-color: #4facfe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
}
.right-main h1 {
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #4facfe;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4facfe;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox input {
  width: 20px;
}
.button {
  margin-top: 14px;
  display: flex;
  gap: 10px;
}
.submit-btn {
  flex: 2;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.reset-btn {
  flex: 1;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.submit-btn:hover {
  background: #2c87a0;
}
.reset-btn :hover {
  background: #2c87a0;
}

.links {
  text-align: center;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: #4facfe;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

@media screen and (max-width:480px) {
    .left-main{
        width: 100%;
    }
    .right-main{
        display: none;
    }
}