*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: blue;
    padding: 20px;
   grid-gap: 10px;
}
.container >div{
    background-color: aliceblue;
    text-align: center;
    padding: 20px 40px;
}
.header{
    grid-column: span 4;
}
